[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2024.6.2"
charset-normalizer = "==3.3.2"
contourpy = "==1.2.1"
cycler = "==0.12.1"
fonttools = "==4.53.0"
idna = "==3.7"
kiwisolver = "==1.4.5"
matplotlib = "==3.9.0"
numpy = "==2.0.0"
packaging = "==24.1"
pandas = "==2.2.2"
pillow = "==10.3.0"
plotly = "==5.22.0"
pyparsing = "==3.1.2"
python-dateutil = "==2.9.0.post0"
python-dotenv = "==1.0.1"
pytz = "==2024.1"
requests = "==2.32.3"
six = "==1.16.0"
so4t-api = "==0.1.5"
tenacity = "==8.4.1"
tzdata = "==2024.1"
urllib3 = "==2.2.2"
wordcloud = "==1.9.3"

[dev-packages]

[requires]
python_version = "3.12"
