[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
plotly = "*"
so4t-api = "*"
python-dateutil = "*"
pandas = "*"
wordcloud = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
